SECRET_KEY=tu_secret_key_aqui
DEBUG=True

## Base de datos
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db # Utilizar 'db' si se ejecuta mediante docker-compose, o 'localhost' si es externo
DB_PORT=5432

# Configuración para Docker-compose (Redis)
REDIS_HOST=django_redis # Usar 'django_redis' dentro del docker-compose
REDIS_PORT=6379
CHANNELS_ALLOWED_ORIGINS=http://localhost:3000
